
// VARIABLES PRINCIPALES

$body-color-font: #444444;
$body-bg-color: #ffffff;
$elem-color-primario: #49b5e7;
$elem-color-secundario:#76c7ed;
$h2-color: #191919;
$span-color: #f4f4f4;
$color-fuente-prin:#fff;
$sombra-color: rgba(255, 255, 255, 0.6);


/*FUENTES*/
$font-body: "Open Sans", sans-serif;
$font-element-h:"Dosis", sans-serif; 
$text-mayus: uppercase;

