
 /*--------------------------------------------------------------
  # Portfolio Details -element con JS
  --------------------------------------------------------------*/
  
  .portfolio-details {
    padding-top: 40px;
  }

  .portfolio-details .portfolio-details-slider{
    box-shadow: 0px 0px 5px rgba(15, 57, 76, 0.08);
  }
  // .portfolio-details .portfolio-details-slider img {
  //   width: 100%;
  // }
  // .portfolio-details .portfolio-details-slider .swiper-pagination {
  //   margin-top: 20px;
  //   position: relative;
  // }
  // .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  //   width: 12px;
  //   height: 12px;
  //   background-color: #fff;
  //   opacity: 1;
  //   border: 1px solid #49b5e7;
  // }
  // .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  //   background-color: #49b5e7;
  // }
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(15, 57, 76, 0.08);
  }
  .portfolio-details .portfolio-info h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  .portfolio-details .portfolio-description h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  