
 /*--------------------------------------------------------------
  # Section Teams
  --------------------------------------------------------------*/
  
  .team .member {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    background: #fff;
    transition: all 0.3s ease-in-out;
  }
  .team .member img {
    max-width: 60%;
    border-radius: 50%;
    margin: 0 0 30px 0;
  }
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  .team .member h4:hover{
    color: #49b5e7;
  }
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  .team .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
  }
  .team .member .social {
    margin-top: 15px;
  }
  .team .member .social a {
    color: #919191;
    transition: 0.3s;
  }
  .team .member .social a:hover{
    color: #49b5e7;
  }
  .team .member:hover{
    transform: translateY(-6px);
  }
  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  