 /*--------------------------------------------------------------
  # TopBar
  --------------------------------------------------------------*/

  #topbar{
    background: $elem-color-primario;
    font-size: 15px;
    color: $color-fuente-prin;
    height: 40px;
    color:rgba(255, 255, 255, 0.6) ;
    padding: 0;
        .contact-info-top
        {

            i{
              font-size: 20px;
              color: $color-fuente-prin;
              line-height: 0;
              margin-right: 5px;
              margin-left: 15px;
            }

            a{
              line-height: 0;
              color: rgba(255, 255, 255, 0.6);
              transition: 0.3s;

              &:hover{
                color: $color-fuente-prin;
              }

            }
          
        @media (max-width: 769px){
          padding: 18px 0px;
          flex-direction: row;

          i{
            font-size: 18px;
          }

          a{
            font-size: 13px;
          }

        }
        
       }
  }


#topbar {

    .social-links-top{

          i{
            font-size: 20px;
          }

          a{
            color:rgba(255, 255, 255, 0.6);
            padding: 4px 5px;
            display: inline-block;
            line-height: 1px;
            transition: 0.3s;

              &:hover{
                color:$color-fuente-prin ;
              }
          }
    }

}
  

  
 