/*--------------------------------------------------------------
# Reset CSS 
--------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background-color: #ffffff;
/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(176,768,377)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%2348B3E4'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='396' height='330' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; */
  }
  
  a {
    text-decoration: none;
    color: #49b5e7;
  }
  
  a:hover {
    color: #76c7ed;
    text-decoration: none;
  }


  h2, h3, h4, h5, h6 {
    font-family: "Dosis", sans-serif;
  }

 /*--------------------------------------------------------------
  # Grid-Layout
  --------------------------------------------------------------*/

  .contenedor-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5,auto);

    grid-template-areas: "top-bar top-bar"
                         "header header"
                         "section section"
                         "main main"
                         "footer footer";
  }

/*--------------------------------------------------------------
# TopBar
--------------------------------------------------------------*/

#topbar{
    grid-area: top-bar;
    background: #49b5e7;
    color: #fff;

}

.container-topbar {
  display: flex;
  justify-content: space-between;

}

.container-topbar .contact-info-top {
  margin-left: 80px;
}

.container-topbar .social-links-top {
  margin-right: 80px;
}

.container-topbar .contact-info-top a {
  color: #fff;
  margin: 0px 5px 0px 5px;
}

.container-topbar .social-links-top a {
  color: #fff;
  margin: 0px 5px 0px 5px;
}

.container-topbar .social-links-top i {
  font-size: 18px;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/


#header{
    grid-area: header;
    background: #fff;
    padding: 20px 5px;
    transition: all 0.5s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);  
    width: 100%;
    position: sticky;
    /* height: 80px; */
    top: 0;
}

#header .logo{
    font-size: 35px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    font-family: 'Lobster', cursive;
    text-align: center;
  }

  #header .logo{
    color:#0f394c;
  }


.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;

}



/*------------------------------------------------------------------
# Header =>con=> Menu de Navegacion
------------------------------------------------------------------*/

/*******************
* Modo Escritorio
*******************/

.navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #0f394c;
    white-space: nowrap;
    transition: 0.3s;
    text-transform: uppercase;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #49b5e7;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 500;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #49b5e7;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }

  .nav-toggle{
    color: #49b5e7;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    /* line-height: 60px;  */
    cursor: pointer;
 
    display: block;
 
 }




/*******************
* Modo Mobile
*******************/
@media screen and (max-width:800px) {

    #header .logo{
        font-size: 28px;
    }
      
}
@media screen and (max-width: 768px) {
    .container-header{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .navbar{
        width: 100%;
    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        width: 100%;

      }
      .navbar li {
        position: relative;
        width: 100%;
       
      }

      .navbar a{
        display: block;
      }
      .navbar a, .navbar a:focus {
        display: block;

      }
      .navbar a i, .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
      }

} 




/*--------------------------------------------------------------
  #/ Descripción
--------------------------------------------------------------*/
.descripcion{
    grid-area: section;

    padding: 15px 0;
    background: #f0f9fd;
    margin-top: 0px;
    font-family: "Dosis", sans-serif;;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

}

.descripcion .detalle{
  padding-left: 8%;
  font-size: 25px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}
.descripcion ol{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  padding-right: 12%;
}
.descripcion ol li + li {
  padding-left: 10px;
}
.descripcion ol li + li::before{
  display: inline-block;
  padding-right: 10px;
  color: #175977;
  content: "/";
}

.d-flex{
  display: flex !important;
}

.justify-content-between{
  justify-content: space-between;
}
.align-items-cente{
  align-items: center;
}


@media screen and (max-width: 768px){

  .d-flex{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .descripcion ol{
    margin-left: 60px;
  }


}

/*--------------------------------------------------------------
# Servicio Details
--------------------------------------------------------------*/

main {
  grid-area: main;
}

.servicio-details{
  /* padding-top: 20px;
  padding-bottom: 20px; */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 99%;
  height: 70vh;
  font-family: "Dosis", sans-serif;;
}

.servicio-details .container-flex{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  height:100%;
  width: 97%;
  padding-left: 20px;
  padding-right: 20px;
}

.servicio-details .container-flex div{
  margin: 10px;
}

.servicio-details .container-flex .servicio-imagen{
  width: 50%;
  height: 90%;
  margin-left: 100px;
}

.imagen-muestra{
  width: 100%;
  height: 100%;
}

.servicio-details .container-flex .servicio-info{
  line-height: 2;
}

.servicio-details .container-flex .servicio-info ul{
  list-style: none;
}

.servicio-details .container-flex .servicio-info, .servicio-descripcion {
  width: 40%;
  height: 40%;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

}

@media screen and (max-width: 768px){


  .servicio-details{
   height: 100%;
  }

  .servicio-details .container-flex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  
    
    height:100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .servicio-details .container-flex .servicio-imagen{
    width: 100%;
    height: 100%;
    margin-left: 0px;
 
  }

  
  .servicio-details .container-flex .servicio-info, .servicio-descripcion {
    width: 100%;
    height: 50;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  
  }

}



/*--------------------------------------------------------------
  # Footer
--------------------------------------------------------------*/

#footer{
    grid-area: footer;
}


#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #ebf7fc;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #f0f9fd;
  text-align: center;
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding:0;
  line-height: 1;
  font-weight: 600;
  color: #0f394c;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 40%;
  margin: 0 auto;
}

#footer .footer-newsletter .space{
  height: 20px;
}


#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: 80%;
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #49b5e7;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #1da2e0;
}


#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .container-footer{
  display: flex;
  flex-flow: row nowrap;
}

#footer .footer-top .footer-contact {
  margin: 0 30px 30px 30px;
  width: 33%;
}
#footer .footer-top .footer-contact h4 {
font-size: 26px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  font-family: 'Lobster', cursive;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #777777;
  font-family: "Dosis", sans-serif;;
}


#footer .footer-top .footer-links {
  margin: 0 30px 30px 30px;
  width: 33%;
  font-family: "Dosis", sans-serif;;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding-top: 20px;
  margin: 0;
}


/* --------------------- */
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #49b5e7;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links div{
  text-align: justify;
}

#footer .footer-top .footer-links h4{
  padding: 10px 0;
}

#footer .footer-top .footer-links .social-links{
  padding: 30px 0;
}

#footer .footer-top .footer-links ul li a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #49b5e7;
}

/* --------------------- */

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #76c7ed;
  color: #fff;
  margin-right: 10px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a i{
  margin-top: 8px;
}

#footer .footer-top .footer-links a:hover {
  text-decoration: none;
  background-color: #1da2e0;
  color: #fff;
}

#footer .copyright {
  float: left;
  color: #0f394c;
}

@media screen and (max-width: 768px) {

  #footer .container-footer{
    display: flex;
    flex-flow: column nowrap;
  }


}

/* @media (min-width: 576px) { 

 }
 */

 body .scroll-up{
  position:fixed;
  display: block;
  right: 10px;
  bottom: 10px;
}

body .scroll-up i{
  font-size: 50px;
}



